{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
<h1 class="my-4">Edit Comment</h1>
    {{ form_start(form) }}
        {{ form_label(form.body, 'Comment Text') }}
        {{ form_widget(form.body) }}
        <button type="submit" formnovalidate>
            Save
        </button>
        <ahref="{{ path('app_post_show', {'id': comment.post.id}) }}">
            <button type="button">Cancel</button>
        </a>
        <a href="{{ path('app_comment_delete', {'id': comment.id}) }}">
            <button type="button">Delete</button>
        </a>
    {{ form_end(form) }}
{% endblock %}
