{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <h1 class="my-4">Edit Post</h1>
    {{ form_start(form) }}
        
        {{ form_rest(form) }}
        
        <button type="submit" formnovalidate>Save</button>
        <a href="{{ path('app_post_show', {'id': post.id}) }}">
            <button type="button">Cancel</button>
        </a>
        <a href="{{ path('app_post_delete', {'id': post.id}) }}">
            <button type="button">Delete</button>
        </a>
    
    {{ form_end(form) }}
{% endblock %}
