{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <h1 class="custom-page-title">Edit Post</h1>
    {{ form_start(form, { 'attr': {'class': 'custom-form custom-border'} }) }}
        
        {{ form_rest(form) }}
        
        <button type="submit" class="custom-button" formnovalidate>Save</button>
        <a href="{{ path('app_post_show', {'id': post.id}) }}">
            <button type="button" class="custom-button">Cancel</button>
        </a>
        <a href="{{ path('app_post_delete', {'id': post.id}) }}">
            <button type="button" class="custom-button-danger">Delete</button>
        </a>
    
    {{ form_end(form) }}
{% endblock %}
