{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <h1 class="custom-page-title">Posts</h1>
    
    {% for post in posts | sort((a, b) => b.updated <=> a.updated)  %}
        <a href="{{ path('app_post_show', {'id': post.id}) }}" class="custom-link-post">
            <h2 class="custom-post-title">{{ post.title }}</h2>
            <span class="custom-post-data">
                {{ post.user.username }} - {{ post.updated | ago }}
            </span>
            <p class="custom-post-body">
                {{ post.body | length > 100 ? post.body | slice(0,100) ~ '...' : post.body }}
            </p>
        </a>
    {% endfor %}
{% endblock %}
