{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <h1 class="my-4">Posts</h1>
    <hr />
    {% for post in posts | sort((a, b) => b.updated <=> a.updated)  %}
        <div>
            <h2>
                <a href="{{ path('app_post_show', {'id': post.id}) }}" class="text-decoration-none">
                    {{ post.title }}
                </a>
            </h2>
            <span class="fw-bold">
                {{ post.user.username }} - {{ post.updated | ago }}
            </span>
            <p>
                {{ post.body | slice(0,100) }}
            </p>
            <hr />
        </div>
    {% endfor %}
{% endblock %}
