{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    
    <span>
        {{ post.user.username }} - {{ post.updated | ago }}
    </span>

    {% if app.user and app.user.id == post.user.id %}
        <a href="{{ path('app_post_edit', {'id': post.id}) }}">
            edit
        </a>
    {% endif %}

    <p class="mt-2">{{ post.body }}</p>
    <hr />
    <h2 class="">Comments</h2>
    {% if comments|length > 0 %}
        {% for comment in comments %}
            <div class="border border-black p-3">
                <span>
                    {{ comment.user.username }} - {{ comment.created | ago }}
                </span>
                {% if app.user and app.user.id == comment.user.id %}
                    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}">
                        edit
                    </a>
                {% endif %}
                <p>{{ comment.body }}</p>
            </div>
        {% endfor %}
    {% else %}
       No comments yet.
    {% endif %}
    {% if app.user %}
        {{ form_start(form) }}
            {{ form_label(form.body, 'Add New Comment') }}
            {{ form_widget(form.body) }}
            <button type="submit" formnovalidate>Save</button>
        {{ form_end(form) }}
        
    {% endif %}
{% endblock %}
