{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <h1 class="my-4">{{ post.title }}</h1>
    
    <span class="fw-bold">
        {{ post.user.username }} - {{ post.created | ago }}
    </span>

    <p class="mt-2">{{ post.body }}</p>
{% endblock %}
